body{
	margin-top:2vh;
}
.navbar-dark{
	background: #000000;
	line-height: 2vh;
	font-family: Poppins;
	font-size: min(5vw, 30px);
}

.logo{
	height:3vh !important;
}

p{
	text-align: center;
}

#mainwheel{
	background: url(../img/mainwheel2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	min-height: min(2048px,100vh - 150px);
	color: #fff;
	font-family: Poppins;
	text-align: center;

	vertical-align: middle;


}
.bafalogo{
	height:max(35vw,150px);
}

.reblogo{
	height:max(17vw,75px);
}

#joinusrow{
	padding-top:50px;
}

#joinus{
	font-family: Poppins;
	text-align: center;
	margin-top: 100px;
	font-size: 25px;
}

.brianimg{

height:min(52vw,850px);
}
#mainwheel h1{
	font-size: min(7vw, 70px);
	margin-top: 75px;
}

#mainwheel p{
	
	font-size: min(3vw, 20px);
	
}

#Aboutus{
	margin-top: 20px;
}


.abouttext{
	font-family: Poppins;
	text-align: center;
}

footer{
	padding:30px;
}