body{
	margin-top:3vw;
}
.navbar-dark{
	background: #000000;
	line-height: 3vw;
	font-family: Poppins;
	font-size: min(5vw, 30px);
}


p{
	text-align: center;
	font-size: min(3vw, 20px);
}

#mainwheel{
	background: url(../img/mainwheel2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	min-height: max(2048px,100vw - 250px);
	color: #fff;
	font-family: Poppins;
	text-align: center;
	padding-top: 400px;
	vertical-align: middle;


}
.bafalogo{
	height:max(35vw,150px);
}

.reblogo{
	height:max(17vw,75px);
}

#joinusrow{
	padding-top:50px;
}

#joinus{
	font-family: Poppins;
	text-align: center;
	margin-top: 100px;
	font-size: 25px;
}

.brianimg{

height:min(52vw,850px);
}
#mainwheel h1{
	font-size: min(7vw, 70px);
	margin-top: 75px;
}

#mainwheel p{
	backdrop-filter: blur(10px) saturate(5%);
	font-size: min(3vw, 20px);
	
}

#Aboutus{
	margin-top: 20px;
}


.abouttext{
	font-family: Poppins;
	text-align: center;
}

footer{
	padding:30px;
}